* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --main-color: #0089e4;
    --second-color: #fff;
}

body{
    background-color: var(--main-color) !important;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

nav, .offcanvas{
    background-color: var(--main-color) !important;
    color: white !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-nav a{
    color: white;
}

.navbar-nav a:hover{
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.navbar-nav .nav-item ul{
    background-color: var(--main-color);
}

.nav-item ul li a:hover{
    color: white;
    background-color: var(--main-color);
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-color: white;
    text-indent: 5px;
}

/* Seccion Category home */
.category-card h5{
    color: white;
}

.card-category-img{
    filter: brightness(70%);
    height: 165px;
    width: 100%;
    object-fit: cover;
    
}

.btn{
    border-color: black !important;
}

.btn:hover{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: white !important;
}


/* Login and Register */

.wrapper{
    
}

.footer{
    color: #f2f2f2;
}