* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --main-color: #0089e4;
    --second-color: #fff;
    --third-color: #61c0ff;
}

h2, h3{
    color: var(--main-color) !important; 
    font-weight: 700 !important;
}

h4{
    color: var(--main-color) !important; 
    font-weight: 600 !important;
}

body{
    background-color: var(--second-color) !important;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Header */
nav{
    background-color: var(--main-color);
    color: var(--second-color);
}

.nav-link{
    color: var(--second-color) !important;
}

.nav-link:focus{
    color: var(--second-color) !important;
}

.nav-link:hover{
    color: rgb(229, 231, 235) !important;
}

.cart_quantity{
    font-size: 0.75rem;
    width: 1rem;
    height: 1rem;
}

.btn-light{
    color: var(--main-color) !important;
}

/* Section Home */
.section-home h1{
    color: var(--main-color);
    font-weight: 700;
    font-size: 2.25rem;
}

.section-home p{
    font-size: 1.25rem;
}

.search{
    outline: none;
    border: 2px solid var(--main-color);
    width: 100%;
}

.search:focus{
    box-shadow: 0 0 0 2px grey;
    border-color: var(--main-color);
}

.search:focus-visible{
    outline: none;
    border-color: transparent;
}

.section-search h2{
    color: var(--main-color);
}

/* Section Category */
.section-category img{
    filter: brightness(70%);
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.section-category a:hover img{
    filter: brightness(50%);
    color: white;
}

/* Section Offers */
.badge{
    font-size: 0.875rem !important;
    border-radius: 0px !important;
    line-height: normal !important;
}

.card-body h5{
    color: var(--main-color);
    font-weight: 600;
}

.btn-color-primary{
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    width: 100%;
    height: 2.5rem;
    border: none;
}

.btn-color-primary:hover{
    background-color: rgb(0 137 228 / 0.9);
}

/* Section Community */
.section-community{
    background: var(--main-color);
}

/* Category Page */
.section-featured h2{
    color: var(--main-color);
}

.breadcrumb-nav{
    background: none;
}

.breadcrumb-item a{
    color: var(--main-color) !important;
}

.btn-back{
    background: transparent;
    border: none;
    font-size: 25px;
}

.btn-back i{
    color: var(--main-color);
}

/* Login and Register */
.form-get-into h2, label, p{
    color: var(--main-color);
}

.form-control{
    color: var(--main-color) !important;
}

/* My account */
.header-account{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    width: 100%;
    height: 2.25rem;
}

.header-account a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: .5rem;
    padding: .25rem .75rem .25rem .75rem;
}

.p-account{
    color: var(--third-color);
}


.footer{
    background-color: rgb(243, 244, 246);
}