{% load static %}
<div class="footer py-4">
    <div class="mx-auto px-4 text-center">
        <span class="copyright text-muted">&copy; 2024 Reyvi. All rights reserved</span>
        <!-- <ul class="d-flex justify-content-center align-items-center m-0">
            <li>
                <img src="{% static 'images/paypal.jpg' %}" alt="paypal" height="60px">
            </li>
            <li class="mx-3">
                <img src="{% static 'images/webp.jpg' %}" alt="webp" height="40px">
            </li>
        </ul> -->
    </div>
</div>