{% load static %}
<nav class="navbar navbar-expand-md sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="{% url 'home' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <i class="bi bi-list" style="color: white;"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top"><use xlink:href="#aperture"></use>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category' category.pk %}">{{category.name}}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-cart-fill" style="color: white;"></i></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"> 
                        <a class="nav-link" href="{% url 'my_account' %}">My account</a>
                        <ul>
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>