{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/banner-sillas-min.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row justify-content-center align-items-center text-center mt-5">
    {% for category in categories %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <a class="category-card" href="{% url 'category' category.slug %}">
            <div class="card" style="overflow: hidden;">
                <img src="{{ category.image.url }}" class="card-img card-category-img" alt="{{ category.image.name }}">
                <div class="card-img-overlay align-content-center">
                    <h5 class="card-title">{{ category.name }}</h5>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="text-center mb-4">
  <h1 class="text-white">Sales</h1>
</div>
<!-- Sales -->

<section class="">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for product in products_sales %}
      {% if product.is_sale %}                
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{product.image.url}}" alt="">
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h6 class="fw-bolder">{{product.name|truncatewords:10}}</h6>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                      &nbsp;&nbsp;Oferta!&nbsp;&nbsp;
                      {{product.discount_percentage}}
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <strike>${{product.price}}</strike>&nbsp;  <!-- '&nbsp' para tener un espacio extra -->
                ${{product.discounted_price}}
              </div>
            </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn mt-auto" href="{% url 'product-detail' slug=product.slug %}">See Product</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}