{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="section-home text-center">
  <h1>Welcome to Reyvi</h1>
  <p class="text-muted">Discover the latest in gaming technology</p>
  <div class="d-flex justify-content-center">
    <div class="position-relative w-100" style="max-width: 500px;">
      <!-- Icono de búsqueda -->
      <i class="bi bi-search position-absolute top-50 translate-middle-y text-muted" style="left: 20px;"></i>
      
      <!-- Input de búsqueda -->
      <input type="text" class="ps-5 py-2 rounded-pill search" placeholder="Search for products...">
    </div>
  </div>
</div>

<!-- Shop by Category -->
<div class="section-category my-5">
  <h3>Shop by Category</h3>
  <div class="d-flex flex-wrap gap-4 text-center mt-4">
    {% for category in categories %}
      <a href="{% url 'category' slug=category.slug %}" class="position-relative group overflow-hidden rounded-3">
        <img src="{{category.image.url}}" alt="{{category.name}}">
        <div class="card-img-overlay position-absolute align-content-center">
          <span class="text-white fw-medium">{{category.name}}</span>
        </div>
      </a>
    
    {% endfor %}
  </div>
</div>

<!-- Offers -->
<div class="section-offers my-5">
  <h3>Hot Deals</h3>
  <div class="d-flex flex-wrap gap-4 mt-4">
    {% for product in offers %}
    
      {% include 'store/base/card.html' %}

    {% endfor %}
  </div>
</div>

<!-- Featured Product -->
<div class="section-featured mb-5">
  <h3>Featured Product</h3>
  <div class="mt-4">
    {% for product in featured_products %}
    
      {% include 'store/base/card.html' %}
    
    {% endfor %}
  </div>
</div>

<!-- Section join community -->
<div class="section-community py-5 rounded-2 text-center">
  <h2 class="text-white mb-3">Join Our Community</h2>
  <p class="text-white mb-4">Get exclusive deals and stay updated with the latest gaming tech</p>
  <a href="{% url 'register' %}" class="btn btn-light fw-medium px-4 py-2">Sign Up Now</a>
</div>

{% endblock %}