{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center form-get-into">
    <div class="col-4">
        <h2 class="text-center">Log In</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">{{form.username}}</div>
            <div class="mb-2">{{form.password}}</div>
            <button class="btn-color-primary py-2 px-4 fw-medium rounded-2 d-inline-flex justify-content-center align-items-center" type="submit">Log In</button>
            
            <p class="d-flex justify-content-between">
                Don't have an account?
                <a class="text-muted" href="{% url 'signup' %}">Sign Up</a>
            </p>
            
        </form>
    </div>
</div>

{% endblock %}