{% extends 'base.html' %}
{% block content %}


<h2 class="mb-4">My Account</h2>
<div class="d-flex header-account rounded-3 p-1">
    <a href="{% url 'manage_account' %}" data-state="active">Manage my account</a>
    <a href="{% url 'address_book' %}">My address book</a>
    <a href="">My Orders</a>
</div>
<div class="border rounded-3 mt-2">
    <div class="p-4">
        <h4>Manage my account</h4>
        <p class="p-account">Update info personal and password</p>
    </div>
    <div class="px-4 pb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum assumenda omnis quae vitae iure officiis blanditiis quidem, vero distinctio delectus ex debitis, tempora qui optio. Incidunt beatae voluptate perspiciatis et.
    </div>
</div>



{% endblock %}