{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="d-flex justify-content-center form-get-into">
    <div class="col-4">
        <h2 class="text-center">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating">
                {{ form.username }}
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                {{ form.email }}
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                {{ form.password1 }}
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                {{ form.password2 }}
                <label for="floatingPassword">Confirm Password</label>
            </div>
            <button class="btn-color-primary py-2 px-4 fw-medium rounded-2 d-inline-flex justify-content-center align-items-center" type="submit">Sign Up</button>
            <p class="d-flex justify-content-between">
                Have an account?
                <a class="text-muted" href="{% url 'login' %}">Log In</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}