{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <form method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}                
                {% if shipping_addresses %}
                    {% for shipping in shipping_addresses %}
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <h5>Shipping Address</h5>
                        <!-- <a href="" class="">Change Address</a> -->
                    </div>
                    <div class="border border-start-0 p-2 ps-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="mb-0 d-flex align-items-center">
                                    <h6 class="fw-bold mb-0">{{shipping.full_name}}</h6>
                                    <p class="ms-2 mb-0">{{shipping.phone}}</p>
                                </div>
                                <p class="mb-0">{{shipping.address}}</p>
                                <p class="mb-1">{{shipping.city}} {{shipping.state}} {{shipping.country}} {{shipping.zipcode}}</p>
                            </div>
                            <a href="{% url 'address_update' shipping.id %}">Edit Addres</a>
                        </div>
                    </div>
                </div>
                
                <div style="display: none;">
                    <input type="hidden" name="shipping_address" value="{{ shipping.id }}">
                    {{shipping_form}}
                </div>
                
                    {% endfor %}
                {% else %}
                {% include 'users/crud_address/forms/form.html' %}
                {% endif %}
            {% else %}
            <div class="mt-4">
                {% include 'users/crud_address/forms/form.html' %}
            </div>
            {% endif %}
            <button type="submit" class="btn-color-primary py-2 px-4 fw-medium rounded-2 d-inline-flex justify-content-center align-items-center">Continue To Billing</button>
        </form>
    </div>
    <div class="col-6">
        <h4>Cart Summary</h4>
        <div class="mt-3 mb-4">
            {% for product in cart.get_products %}
            <div class="mt-2">
                <div class="position-relative">
                    <img src="{{product.image.url}}" alt="{{product.name}}" width="50px" class="rounded-2">
                    {% for key,value in cart.get_quants.items %}
                    {% if key == product.id|slugify %}
                    <span class="cart_quantity rounded-circle px-1 bg-secondary text-center text-white position-absolute top-0 translate-middle">{{value}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
                {{product.name}}
                
                {% for key, value in sub_total.items %}
                    {% if key == product.id|slugify %}
                <span id="total-{{ product.id }}">${{ value }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between fw-bold">
            <span>Total</span>
            <span>${{cart.total}}</span>
        </div>
    </div>
</div>

{% endblock %}